<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addsongs" method="post">
        <label>songname</label>
        <input type="text" name="name">
        <br>
        <label>artist</label>
        <input type="text" name="artist">
        <br>
        <label>genre</label>
        <input type="text" name="genre">
        <br>
        <label>link</label>
        <input type="text" name="link">
        <br>
        <input type="submit" value="login">

    </form>
</body>
</html>