<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        button {
            padding: 10px 20px;
            background-color: #4CAF50; 
            color: rgb(224, 18, 18);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #45a049; 
        }
    </style>
</head>
<body>
    <button onclick="redirect()">click here to pay</button>
    <script>
        function redirect(){
            window.location.href = '/redirectToPage';
        }
    </script>
</body>
</html>